!!!
%html
  %head
    %meta{:name => "viewport",
          :content => "width=device-width, initial-scale=1, shrink-to-fit=no"}
    %meta{'http-equiv' => "content-type",
          :content => "text/html; charset=UTF-8"}
    %title c r o w d
    %meta{:name => "author",
          :content => "Giménez, Christian"}
    %link{:rel => "stylesheet",
          :href => "web-src/css/bootstrap.min.css"}
    %link{:rel => "stylesheet",
          :href => "web-src/css/interfaz.css"}
      
  %body
    %nav.navbar.navbar-dark.bg-dark
      %a.navbar-brand.crowd-font{:href => "#"} c r o w d

      %ul.navbar-nav.mr-auto
        %li.nav-item
          %a.nav-link{:type => "button",
                      :href => "http://crowd.fi.uncoma.edu.ar"}
            Main Page

      
    .container.my-2

      .jumbotron
        %h1.display-4.crowd-font c r o w d
        
        %p.lead
          A tool for
          %i Conceptual Modelling
          assisted by Automated Reasoning.

          %hr.my-4
          
          .row
            .col
              %p Select your favourite visual language.
              .btn-group.btn-group-lg{:role => "group"}
                %a.btn.btn-primary{:type => "button",
                                   :href => "./web-src/model_editor.php?type=UML"}
                  UML
                %a.btn.btn-primary{:type => "button",
                                   :href => "./web-src/model_editor.php?type=EER"}
                  EER
                %a.btn.btn-primary{:type => "button",
                                   :href => "./web-src/model_editor.php?type=ORM"}
                  ORM

            .col
              %p Read generated documentation.
              .btn-group.btn-group-lg{:role => "group"}
                %a.btn.btn-primary{:type => "button",
                                   :href => "./docs"}
                  Docs dir
                %a.btn.btn-secondary{:type => "button",
                                     :href => "./docs/doxygen/html"}
                  Doxygen
                %a.btn.btn-secondary{:type => "button",
                                     :href => "./docs/coffee"}
                  codo
                %a.btn.btn-secondary{:type => "button",
                                     :href => "./docs/docco/web-src/coffee"}
                  docco
              

    %script{:src => "web-src/js/libs/jquery-3.2.1.min.js"}
    %script{:src => "web-src/js/libs/popper.min.js"}
    %script{:src => "web-src/js/libs/bootstrap.min.js"}
